<div class="modal"><!-- Place at bottom of page --></div>
<footer class="ui footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable centered grid">
      <div class="six wide column">
        <h4>Klaukkalan rengas & Hotelli</h4>
        <p><i class="fa fa-phone" aria-hidden="true"></i> +358 (0)50 591 73 22</p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="/sijainti">Klaukkalantie 74 </a></p>
        <p>01800, Klaukkala</p>
        <p>Y-tunnus: 2631142-1</p>
        <p>Käyttämällä sivustoamme, hyväksytte meidän eväste <a href="/evasteet">käyttöehdot</a></p>
      </div>
      <div class="four wide column">
        <h4>Aukioloajat</h4>
        <p class="footerP">ma - pe: 8 - 17</p>
        <p class="footerP">la: tilauksesta</p>
        <p class="footerP">su: Suljettu</p>
        <p>Vaihtokauden aikana palvelemme joustavasti</p>
      </div>
      <div class="six wide column entered">
        <h4>Tietosuojakäytäntö</h4>
        <p>Tutustu <a href="/tietosuojakaytanto">tietosuojakäytäntöömme</a></p>
        <h4>Seuraa meitä</h4>
        <div class="ui massive horizontal divided list social-buttons">
          <div class="item"><a href="https://www.facebook.com/KlaukkalanRengashotelli/"><i class="fa fa-facebook fa-2x"></i></a></div>
          <div class="item"><a href="http://www.topwash.fi" target="_blank"><img class="ui tiny circle avatar" src="/images/ms-icon-70x70.png"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
