<!DOCTYPE html>
<html lang="fi">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116214050-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());
			gtag('config', 'UA-116214050-1');
	</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="Rengascenter Klaukkala - Klaukkalan Rengas & Rengashotelli. Renkaat Klaukkala Vanteet Klaukkala Rengasliike Rengashulto Klaukkala">
	<meta http-equiv="cache-control" content="max-age=120" />
	<title>Rengascenter Klaukkala - Klaukkalan Rengas & Rengashotelli | Hallintapaneeli</title>
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Exo+2:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;subset=cyrillic,latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://klaukkalanrengas.fi/" rel="canonical">
	<!-- favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!-- libraries -->
	<link rel="stylesheet" href="/libs/semantic/dist/semantic.min.css">
	<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/libs/cropper/dist/cropper.min.css" />
	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="/css/text.css">
	<link rel="stylesheet" type="text/css" href="/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<link rel="stylesheet" type="text/css" href="/css/body.css">
	<link rel="stylesheet" type="text/css" href="/css/form.css">
	<link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
	<% include ./partials/admin_navbar %>
	<div id="vertical-menu" class="ui left vertical orange sidebar menu">
		<a href="/" class="active item">
			Etusivu
		</a>
		<a href="/admin" class="item">
			<i class="fa fa-dashboard fa-fw" aria-hidden="true"></i> Hallintapaneeli
		</a>
		<a href="/admin/orders" class="item">
			<i class="fa fa-clipboard" aria-hidden="true"></i> Varaukset
		</a>
		<a href="/admin/products/new" class="item">
			<i class="fa fa-plus" aria-hidden="true"></i> Luo rengas
		</a>
		<a href="/admin/products" class="item">
			<i class="fa fa-edit" aria-hidden="true"></i> Muokkaa renkaita
		</a>
		<a class="item" href="/admin/services/add">
			<i class="fa fa-plus" aria-hidden="true"></i> Luo Palvelu
		</a>
		<a class="item" href="/admin/services">
			<i class="fa fa-edit" aria-hidden="true"></i> Muokkaa Palveluita
		</a>
		<a href="/renkaat/vanteet" class="item">
			Käyttäjähallinta
		</a>
	</div>
	<div class="pusher">
		<%- body -%>
	</div>
  <% include ./partials/footer %>
	<!-- Bootstrap Core JavaScript -->
  	<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/libs/semantic/dist/semantic.min.js"></script>
	<script type="text/javascript" src="/libs/moment/min/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="/libs/cropper/dist/cropper.min.js"></script>
  	<!-- custom js files -->
  	<script type="text/javascript" src="/js/index.js"></script>
  	<script type="text/javascript" src="/js/cropper.js"></script>
  	<script type="text/javascript" src="/js/admin_product.js"></script>
  	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/notification.js"></script>
  	<script type="text/javascript">
  	
  	</script>
</body>
</html>