<% layout('layout') -%>
<section>
	<div class="ui container">
		<div class="ui stackable centered grid">
			<div class="fourteen wide column">
				<div class="ui page header">
					<h2>Evästeiden käyttö</h2>
					<hr>
				</div>
				<div class="ui text container">
					<h3>Käytämme Fonectan evästeitä</h3>
					<p>Huomioittehan että sivusto käyttää käyttää kolmannen osapuolen evästeitä mainonnan kohdentamiseen. Voitte kieltäytyä kohdennetusta mainonnasta. Fonecta Mainontakoneen osalta evästeet voi kieltää osoitteessa <a href="https://www.ipromote.com/opt-out/">tästä</a>.</p>
				</div>
				<div class="ui text container">
					<h3>Mikä on eväste?</h3>
					<p>Käytämme ns. evästeitä Klaukkalan renkaan verkkosivustolla. Evästeet ovat pieniä tekstitiedostoja, jotka tallennetaan tietokoneellesi ja joita verkkopalvelimemme käyttää mahdollistaakseen pääsysi eräisiin verkkosivustollamme oleviin toimintoihin.</p>
					<p>Evästeitä on kahta eri päätyyppiä: 1) tallennettu eväste (pysyvä eväste), joka säilyy tietokoneellasi määrätyn ajan ja 2) väliaikainen eväste (istuntokohtainen eväste), joka tallennetaan tietokoneesi muistiin väliaikaisesti siksi ajaksi, jonka vietät verkkosivustolla. Istuntokohtaiset evästeet poistuvat, kun suljet verkkoselaimesi.</p>
					<h3>Mihin evästeitä käytetään?</h3>
					<p>Klaukkalan rengas käyttää evästeitä kehittääkseen verkkosivustoaan asiakkaita varten, esim. muokkaamalla verkkosivustoa asiakkaiden toiveiden, valintojen ja kiinnostuksen kohteiden mukaisesti, auttamalla sinua seuraamaan mitä tuotteita ostoskoriisi on lisätty, auttamalla sinua hoitamaan ostoksesi ja varmistamalla, että olet kirjautunut verkkosivustolle, jotta sinun ei tarvitse kirjautua uudelleen sisään toiselle sivulle siirtyessäsi. Muokkaamme myös palveluitamme siten, että saat kannaltasi merkityksellistä mainontaa ja käytämme tietoja sopimusvelvoitteemme täyttämiseen sinua kohtaan.</p>
					<p>Pysyviä evästeitä käytetään mm. henkilökohtaisten asetusten tallentamiseen Klaukkalan renkaan verkkosivustolla, jotta sinun ei tarvitse tehdä samoja valintoja joka kerta verkkosivustolla vieraillessasi, sekä tiedon ja markkinoinnin muokkaamiseen, jotta ne olisivat mahdollisimman tarkoituksenmukaisia sinun kannaltasi. Väliaikaisia evästeitä käytetään mm. verkkosivuston käyttöä koskevien tilastotietojen tallennukseen.</p>
					<h3>Kuinka evästeet voi poistaa?</h3>
					<p>Hyväksymällä Klaukkalan renkaan yleiset ehdot ja/tai tämän tietosuojakäytännön sekä käyttämällä Klaukkalan renkaan verkkosivustoa hyväksyt evästeiden käytön edellä kuvatulla tavalla. Jos et hyväksy evästeiden käyttöä, voit poistaa evästeet käytöstä verkkoselaimesi turvallisuusasetusten avulla. Voit myös asettaa verkkoselaimesi kysymään sinulta joka kerta, kun Klaukkalan renkaan verkkosivusto yrittää asettaa tietokoneellesi evästeen. Voit myös poistaa aiemmin tallennettuja evästeitä verkkoselaimesi avulla. Lisätietoja saat verkkoselaimesi ohjesivuilta. Voit lisäksi poistaa evästeet manuaalisesti kovalevyltäsi koska tahansa.</p>
					<p>Jos käytät pöytätietokonetta voit poistaa evästeet käyttämällä seuraavaa komentoa [CTRL]+[SHIFT]+[Delete].</p>
					<p>Jos komento ei toimi tai käytät MAC-tietokonetta, klikkaa sen verkkoselaimen linkkiä, jota käytät:</p>
					<ul>
						<li>Internet Explorer</li>
						<li>Mozilla Firefox</li>
						<li>Google Chrome</li>
						<li>Opera</li>
						<li>Microsoft Edge</li>
						<li>Safari</li>
					</ul>
					<p>Huomaa, että jos et salli evästeiden käyttöä, joidenkin verkkosivun osien toiminnallisuus saattaa olla rajoitettua, eikä verkkosivu ehkä toimi tarkoitetulla tavalla, esim. et voi tehdä verkko-ostoksia.</p>
				</div>
			</div>
		</div>
	</div>
</section>