<% layout("layout") -%>
<section>
	<div class="ui container">
		<div class="ui stackable centered grid">
			<div class="fourteen wide column">
				<div class="ui page header">
					<h2>Tietosuojakäytäntö</h2>
					<hr>
				</div>
				<div class="ui text container">
					<h3>Tietosuojakäytäntö Klaukkan Rengas Oy:ssä</h3>
					<p>Tässä tietosuojaselosteessa kerromme, minkälaisia henkilötietoja voimme kerätä sinusta käyttäessäsi palveluitamme tai ottaessasi yhteyttä Klaukkalan Rengas Oy:n verkkosivuston kautta, sekä mihin tarkoituksiin voimme tällaisia tietoja käyttää.</p>
					<p>Käyttämällä sivustoa www.klaukkalanrengas.fi, hyväksyt tietojesi käsittelyn tämän tietosuojaselosteen mukaisesti.</p>
					<p>Voimme ajoittain muuttaa tätä tietosuojaselostetta julkaisemalla siitä uuden version verkossa, joten ole hyvä ja tarkista se säännöllisesti.</p>
					<p>Verkkosivuston ja liitännäisten palvelujen jatkuva käyttö uuden version julkaisun jälkeen katsotaan muokattujen ehtojen hyväksynnäksi.</p>
					<ol>
						<li>
							<h4 class="black">Tiedot rekisteristä</h4>
							<ul>
								<li>Rekisterin nimi</li>
								<li>Klaukkalan Rengas Oy:n asiakasrekisteri </li>
							</ul>
						</li>
						<li>
							<h4 class="black">Rekisterinpitäjä</h4>
							<ul>
								<li>Klaukkalan Rengas Oy</li>
								<li>Etunimi Sukunimi: Roman Tuomisto</li>
								<li>Osoite: Klaukkalantie 74</li>
								<li>Paikkakunta: Klaukkala</li>
								<li>Y-tunnus: 2631142-1</li>
							</ul>
						</li>
						<li>
							<h4 class="black">Yhteyshenkilö rekisteriasioissa:</h4>
							<ul>
								<li>Etunimi Sukunimi: Roman Tuomisto</li>
								<li>klaukkalanrengas@gmail.fi</li>
							</ul>
						</li>
					</ol>
					<h3>Tietojen kerääminen</h3>
					<p>Rekisteriin kerätään seuraavat tiedot:</p>
					<ul>
						<li>IP-osoitetieto tai muu tunniste</li>
						<li>Ohjelmisto- ja laitteistotiedot</li>
						<li>Evästeiden kautta kerättävät tiedot</li>
						<li>Muut asiakkaan suostumuksella kerättävät tiedot</li>
						<li>Verkkopalvelustamme keräämämme tiedot</li>
					</ul>
					<p>Tallennamme rekisteriimme tiedot, jotka olet itse toimittanut yhteydenottolomakkeella Klaukkalan Rengas Oy:lle verkkosivujen www.klaukkalanrengas.fi kautta tai sähköpostilla.</p>
					<h3>Rekisterin käyttötarkoitus</h3>
					<ul>
						<li>Rekisteriä käytetään henkilötietolakia noudattaen</li>
						<li>Asiakassuhteen hoitamiseen ja kehittämiseen</li>
						<li>Palveluiden tuottamiseen ja kehittämiseen</li>
						<li>Palvelusta ja tuotteista tiedottamiseen ja viestimiseen</li>
						<li>Palveluiden tuottamisesta johtuvaan laskuttamiseen</li>
					</ul>
					<p>Verkkopalvelussa annettujen tietojen perusteella pystymme myöntämään pääsyn niihin verkkopalvelun eri osiin ja sisältöihin, joita olet itse pyytänyt.</p>
					<p>Henkilötietojen keräämisen ja käsittelyn kautta saatamme myös lähettää sinulle kohdennettuja markkinointi- tai asiakasviestejä.</p>
					<p>Mikäli et kuitenkaan halua saada meiltä viestejä, voit milloin tahansa ilmoittaa asiasta Klaukkalan Rengas Oy:lle.</p>
					<h3>Tietojen luovuttaminen kolmannelle osapuolelle</h3>
					<ul>
						<li>Klaukkalan Rengas Oy ei myy, vaihda tai muutoin siirrä tunnistamisen mahdollistavia tietojasi ulkopuolisille osapuolille.</li>
						<li>Tämä ei sisällä luotettuja kolmansia osapuolia, jotka auttavat meitä sivustomme ylläpidossa tai liiketoimintamme suorittamisessa, mutta myös näiden osapuolten on pidettävä tiedot luottamuksellisina.</li>
						<li>Uskomme, että tietojen jakaminen on tarpeen, kun tavoitteena on tutkia, estää tai muutoin käsitellä laitonta toimintaa, petosepäilyjä, tilanteita, jotka mahdollisesti uhkaavat jonkin henkilön fyysistä turvallisuutta, käyttöehtojemme rikkomista sekä muissa lain vaatimissa tilanteissa. Ei-yksityisiä tietoja voidaan kuitenkin luovuttaa muille osapuolille markkinointiin, mainontaan tai muuhun käyttöön</li>
					</ul>
					<h3>Rekisterin suojaus</h3>
					<ul>
						<li>Rekisteri on suojattu ulkopuolisten käytöltä</li>
						<li>Rekisterin käyttö on suojattu henkilökohtaisin käyttäjätunnuksin ja salasanoin</li>
						<li>Käyttäjiä sitoo salassapitovelvollisuus</li>
						<li>Rekisteriin pääsy on ainoastaan Klaukkalan Rengas Oy:n työntekijöillä ja yrityksen verkkopalvelun tuottajan työntekijöillä, joiden tehtävät edellyttävät rekisterissä olevien tietojen käsittelyä. Työntekijöitä sitoo vaitiolovelvollisuus.</li>
					</ul>
					<h3>Evästeet</h3>
					<p>Evästeet (”cookies”) ovat pieniä alfanumeerisia tunnisteita, jotka tallentuvat kävijän tietokoneelle / päätelaitteelle, kun kävijä vierailee verkkosivulla. Verkkopalvelumme hyödyntää evästeitä, jotta voimme tarjota palvelumme mahdollisimman käyttäjäystävällisenä ja laadukkaana. Google kerää anonyymejä tilastotietoja sivuston kävijöistä tarkoituksena parantaa Palvelun laatua. Google Analytics kerää muun muassa tietoja siitä, millä sivuilla kävijä käy, kuinka kauan kävijä pysyy tietyllä sivulla, mitä kautta kävijä saapui sivulle ja mitä linkkejä kävijä klikkaa. Google saattaa luovuttaa tietoja kolmannella osapuolelle lain niin vaatiessa. Käyttämällä Palveluamme kävijä suostuu luovuttamaan yllämainittujen ehtojen mukaiset tiedot Googlen käyttöön. Mikäli et halua Palvelun saavan tietoja evästeiden avulla, voit kieltää evästeet verkkoselaimen asetuksista. Useimmat nykyaikaisista verkkoselaimista sallivat evästeiden käytön estämisen. Evästeiden käytön estäminen saattaa vaikuttaa Palvelun toimivuuteen emmekä voi taata Palvelun virheetöntä toimintaa ilman evästeiden käytön hyväksymistä.</p>
					<h3>Sosiaalisen median liitännäiset</h3>
					<p>Klaukkalan Rengas Oy:n sivuilla voi olla linkkejä ja yhteyksiä kolmannen osapuolen verkkosivustoihin sekä niin sanottuja sosiaalisen median liitännäisiä (esimerkiksi Facebook, Instagram). Sosiaalisen median liitännäisten käyttäminen voi lähettää tunnistettavaa tietoa kyseisille sosiaalisen median palveluntarjoajille. Liitännäisen avatessasi saatat sallia kolmansien osapuolten internetsivujen evästeiden tallentumisen tietokoneellesi, jolloin näiden hallinnoijat voivat seurata sivun käyttöä, mikäli olet kirjautunut kyseisen palveluntarjoajan sosiaaliseen mediaan. Näihin Klaukkalan Rengas Oy:n  sivustoilla  oleviin kolmannen osapuolen tarjoamiin palveluihin tai kolmannen osapuolen välittämiin sovelluksiin sovelletaan kolmannen osapuolen yksityisyys-, käyttö- ja muita ehtoja. Klaukkalan Rengas Oy:llä ei ole määräysvaltaa tällaisiin kolmansien osapuolten internetsivuihin, eikä täten ole vastuussa mistään niillä julkaistusta materiaalista tai niiden käytöstä.</p>
					<h3>Kävijän oikeudet</h3>
					<p>Kävijällä on henkilötietolain 26 §:n mukaisesti oikeus tarkastaa häntä koskevat tiedot ja vaatia virheellisen tiedon korjaamista rekisterissä.</p>
					<p>Tarkastus- ja oikaisupyynnöt tulee lähettää kirjallisesti ja allekirjoitettuna tässä tietosuojaselosteessa määritellylle rekisteriasioita hoitavalle henkilölle.</p>
					<p>Kävijällä on myös oikeus kieltää Klaukkalan Rengas Oy:tä käsittelemästä sinua koskevia tietoja suoramarkkinointia, etämyyntiä tai mielipidetutkimusta varten ilmoittamalla siitä Klaukkalan Rengas Oy:n rekisteriasioita hoitavalle henkilölle.</p>
					<h3> Muutokset tietosuojaselosteeseen</h3>
					<p> Päivitämme tietosuojaselosteemme muutokset viipymättä verkkopalveluumme.</p>
				</div>
			</div>
		</div>
	</div>
</section>