<% layout('layout') -%>

<section>
  <div class="ui container">
    <div class="ui centered stackable grid">
      <div class="fourteen wide column">
        <div class="ui page header">
          <h2>Ajanvaraus</h2>
          <p>Toistaiseksi ajanvaraus mahdollinen</p>
          <p>Puhelimitse: <i class="fa fa-phone" aria-hidden="true"></i> <strong>+358 (0)45 186 30 33</strong></p>
          <p>tai</p>
          <p>Sähköpostitse: <i class="fa fa-evelope" aria-hidden="true"></i> <strong>klaukkalanrengas@gmail.com</strong></p>
        </div>
      </div>
    </div> 
  </div>
</section>