/*checkbox styles*/
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}
.btn-disabled,
.btn-disabled[disabled] {
  opacity: .4;
  cursor: default !important;
  pointer-events: none;
}
.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
  padding: 7px;
  background: #eeeeee;
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
/* form input styles for validation states */
.ui.form input[type="text"].success,
.ui.form input[type="number"].success,
.ui.form input[type="tel"].success,
.ui.form input[type="email"].success {
  background-color: lightgreen;
  border: 2px ridge green; 
}
.ui.form input[type="text"].error,
.ui.form input[type="number"].error,
.ui.form input[type="tel"].error,
.ui.form input[type="email"].error {
  background-color: pink;
  border: 2px ridge red; 
}
/* list */
ul {
    list-style: none;
}
/*slide-menu styles*/
.slide-menu {
  display: none;
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
  margin: 0 auto;
}
#tyre-category_menu {
  display: none;
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
  margin: 0 auto;
}
/* Table styles */
#confModal {
  margin:0 auto;
  display:none;
  position: absolute;
  left: 0;
  right:0;
  top: 50%; 
  border:1px solid;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
  height: 20vh;
}
.time-box {
  width: 100%;
  padding: 5px;
  margin: 0;
}
.time-box:nth-child(even) {
  background: #eeeeee;
}
#times td {
  padding: 0;
}
.green-td-bg {
  font-weight: 500;
  background: rgba(33, 186, 69, 0.8) !important;
  color: white;
}
.red-td-bg {
  pointer-events: none;
  font-weight: 500;
  background: rgba(219, 40, 40, 0.8) !important;
  color: white;
}
.gray-td-bg {
  pointer-events: none;
  font-weight: 500;
  background: rgba(232, 232, 232, 0.8) !important;
  color: white;
}
.orange-td-bg {
  font-weight: 500;
  background: rgba(10, 72, 13, 0.8) !important;
  color: white;
}
#selectedTime {
  display: none;
}
.hide {
  display: none !important;
}
.show {
  display: inline-block;
}