<% layout('layout') -%>
<section>
	<div class="ui container">
		<div class="ui centered row">
			<div class="ui stackable centered grid">
				<div class="fourteen wide column">
					<div class="header">
						<h2>Vanteet</h2>
						<div class="ui horizontal divider">
							<i class="fa fa-car fa-2x" aria-hidden="true"></i>
						</div>
						<h3>Laadukkaat vanteet Klaukkalasta - Meillä myös <a href="/rengashotelli">rengashotelli</a> ja <a href="http://www.topwash.fi" target="blank">autopesula</a></h3>
						<p>Säästä vaivaa ja kukkaroasi – osta renkaat ja vanteet pakettina. Alla olevista tarjouksista löydät sopivasti suorituskykyisiä laatupaketteja ja edullisia vaihtoehtoja.</p>
						<p><strong>Tätä sivua kehitellään.</strong></p>
						<p>Kysy lisää numerosta: <strong><i class="fa fa-phone" aria-hidden="true"></i> 045 186 30 33</strong> tai sähköpostitse osoitteesta: <strong><i class="fa fa-mail" aria-hidden="true"></i> ak.terminaali@gmail.com</strong>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>