<% layout('layout') -%>
<section>
	<div class="ui container">
		<div class="ui centered row">
			<div class="ui stackable centered grid">
				<div class="fourteen wide column">
					<div class="header">
						<h2>Rengaspaketit</h2>
						<div class="ui horizontal divider">
							<i class="fa fa-car fa-2x" aria-hidden="true"></i>
						</div>
						<p>Säästä vaivaa ja kukkaroasi – osta renkaat ja vanteet pakettina. Alla olevista tarjouksista löydät sopivasti suorituskykyisiä laatupaketteja ja edullisia vaihtoehtoja.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>