<% layout('admin') -%>
<section>
	<div class="ui container">
		<div class="ui stackable centered grid">
			<div class="fourteen wide column">
				<div class="ui page header">
					<h2><i class="fa fa-plus" aria-hidden="true"></i> Lisää Tuote</h2>
					<p class="lead in"><i class="fa fa-calendar" aria-hidden="true"></i> <%= moment(Date.now()).format('DD.MM.YYYY') %></p>
					<hr>
				</div>
				<div class="ui segment">
					<div id="messages"></div>
					<form id="productCreateForm" class="ui form" action="/admin/products" method="POST" enctype="multipart/form-data">
						<h4 class="ui dividing header">Luo renkaat tai vanteet</h4>
						<div class="field">
							<label>Tyyppi ja Kategoria</label>
							<div class="two fields">
								<div class="field">
									<label for="type">Tyyppi</label>
									<select id="type" name="type_of_product" class="ui fluid dropdown">
										<option value="">Valitse Tyyppi</option>
										<option value="Renkaat">Renkaat</option>
										<option value="Rengaspaketti">Rengaspaketti</option>
									</select>
								</div>
								<div class="field">
									<label for="category">Kategoria</label>
									<select id="category" name="category" class="ui fluid dropdown">
										<option value="">Valitse Kategoria</option>
										<option value="Kesärenkaat">Kesärenkaat</option>
										<option value="Talvirenkaat-Nasta">Talvirenkaat-Nasta</option>
										<option value="Talvirenkaat-Kitka">Talvirenkaat-Kitka</option>
									</select>
								</div>
							</div>
						</div>
						<div class="field">
							<label>Valmistaja, malli ja ajoneuvotyyppi</label>
							<div class="three fields">
								<div class="field">
									<label for="manufacturer">Valmistaja *</label>
									<select id="manufacturer" name="manufacturer" class="ui fluid dropdown" required>
										<option value="">Valitse valmistaja</option>
										<option value="Sava">Sava</option> 
										<option value="Nokian Renkaat">Nokian Renkaat</option>
										<option value="Nokian Nordman">Nokian Nordman</option>
										<option value="Continental">Continental</option>
										<option value="Nexen">Nexen</option>
										<option value="Nordexx">Nordexx</option>
										<option value="Toyo">Toyo</option>
										<option value="Barum">Barum</option>
									</select>
								</div>
								<div class="field">
									<label for="model">Malli *</label>
									<input type="text" id="model" name="model" placeholder="Malli *" required>
								</div>
								<div class="field">
									<label for="car_type">Ajoneuvotyyppi *</label>
									<select id="car_type" name="car_type" class="ui fluid dropdown" required>
										<option value="">Valitse ajoneuvotyyppi *</option>
										<option value="Henkilöauto">Henkilöauto</option> 
										<option value="SUV">SUV</option>
										<option value="C-LL">Pakettiauto</option>
									</select>
								</div>
							</div>
						</div>
						<div class="field">
							<label>Hinta ja Alv</label>
							<div class="three fields">
								<div class="field">
									<label for="vat">Alv</label>
									<select id="vat" name="vat" class="ui fluid dropdown">
										<option value="0.24">24%</option>
									</select>
								</div>
								<div class="field">
									<label for="unit_price">Hinta</label>
									<input type="number" step="0.01" min="0" max="10000" id="unit_price" name="unit_price" placeholder="Hinta *">
								</div>
								<div class="field">
									<label for="size">Koko</label>
									<select id="size" name="size" required class="ui fluid dropdown">
										<option class="henkiloauto" value="">13</option>
										<option class="henkiloauto" value="175/70-13">175/70-13</option>
										<option class="henkiloauto" value="">14</option>
										<option class="henkiloauto" value="155/65-14">155/65-14</option>       
										<option class="henkiloauto" value="175/65-14">175/65-14</option>
										<option class="henkiloauto" value="165/70-14">165/70-14</option>
										<option class="henkiloauto" value="">15</option>
										<option class="henkiloauto" value="185/55-15">185/55-15</option>      
										<option class="henkiloauto" value="185/65-15">185/65-15</option>      
										<option class="henkiloauto" value="195/65-15">195/65-15</option>      
										<option class="henkiloauto" value="205/65-15">205/65-15</option>      
										<option class="henkiloauto" value="185/60-15">185/60-15</option>      
										<option class="henkiloauto" value="195/60-15">195/60-15</option>      
										<option class="henkiloauto" value="185/55-15">185/55-15</option>      
										<option class="henkiloauto" value="195/55-15">195/55-15</option>
										<option class="henkiloauto" value="">16</option>
										<option class="henkiloauto" value="205/50-16">205/50-16</option>     
										<option class="henkiloauto" value="205/60-16">205/60-16</option>      
										<option class="henkiloauto" value="195/55-16">195/55-16</option>      
										<option class="henkiloauto" value="205/55-16">205/55-16</option>      
										<option class="henkiloauto" value="215/55-16">215/55-16</option>      
										<option class="henkiloauto" value="225/55-16">225/55-16</option>
										<option class="henkiloauto" value="">17</option>
										<option class="henkiloauto" value="215/55-17">215/55-17</option>     
										<option class="henkiloauto" value="225/55-17">225/55-17</option>    
										<option class="henkiloauto" value="205/50-17">205/50-17</option>    
										<option class="henkiloauto" value="215/50-17">215/50-17</option>    
										<option class="henkiloauto" value="225/50-17">225/50-17</option>    
										<option class="henkiloauto" value="215/45-17">215/45-17</option>    
										<option class="henkiloauto" value="225/45-17">225/45-17</option>    
										<option class="henkiloauto" value="235/45-17">235/45-17</option>
										<option class="henkiloauto" value="245/45-17">245/45-17</option>
										<option class="henkiloauto" value="">18</option>
										<option class="henkiloauto" value="235/45-18">235/45-18</option>   
										<option class="henkiloauto" value="245/45-18">245/45-18</option>    
										<option class="henkiloauto" value="225/40-18">225/40-18</option>    
										<option class="henkiloauto" value="235/40-18">235/40-18</option>    
										<option class="henkiloauto" value="245/40-18">245/40-18</option>
										<option class="henkiloauto" value="">19</option>
										<option class="henkiloauto" value="235/35-19">235/35-19</option>   
										<option class="henkiloauto" value="245/40-19">245/40-19</option>
										<option class="henkiloauto" value="255/40-19">255/40-19</option>  
										<!-- SUV options -->
										<option class="suv" value="">16</option>
										<option class="suv" value="265/70-16">265/70-16</option>   
										<option class="suv" value="215/65-16">215/65-16</option>      
										<option class="suv" value="215/60-16">215/60-16</option>      
										<option class="suv" value="235/60-16">235/60-16</option>      
										<option class="suv" value="">17</option>
										<option class="suv" value="225/60-17">225/60-17</option>     
										<option class="suv" value="225/65-17">225/65-17</option>    
										<option class="suv" value="235/65-17">235/65-17</option>    
										<option class="suv" value="235/55-17">235/55-17</option> 
										<option class="suv" value="">18</option>
										<option class="suv" value="225/60-18">225/60-18</option>   
										<option class="suv" value="235/60-18">235/60-18</option>
										<option class="suv" value="255/55-18">255/55-18</option>
										<option class="suv" value="">19</option>
										<option class="suv" value="235/55-19">235/55-19</option>   
										<option class="suv" value="255/55-19">255/55-19</option>   
										<option class="suv" value="255/50-19">255/50-19</option>
										<!-- c/ll -->
										<option class="c-ll" value="">14</option> 
										<option class="c-ll" value="175/65-14C">175/65-14C</option>
										<option class="c-ll" value="">15</option>
										<option class="c-ll" value="195/70-15C">195/70-15C</option>
										<option class="c-ll" value="215/70-15C">215/70-15C</option> 
										<option class="c-ll" value="225/70-15C">225/70-15C</option>
										<option class="c-ll" value="">16</option>
										<option class="c-ll" value="205/65-16C">205/65-16C</option>
										<option class="c-ll" value="215/65-16C">215/65-16C</option>
										<option class="c-ll" value="225/65-16C">225/65-16C</option>
										<option class="c-ll" value="235/65-16C">235/65-16C</option>
										<option class="c-ll" value="">17</option> 
										<option class="c-ll" value="215/60-17C">215/60-17C</option> 
									</select>
								</div>
							</div>
						</div>
						<div class="field">
							<label>Kuvaus</label>
							<div class="one field">
								<div class="field">
									<label for="additional_info">Lisätietoa</label>
									<input type="text" id="additional_info" name="additional_info" placeholder="Lisätietoa *">
								</div>
							</div>
						</div>
						<div class="field">
							<label>Kuva</label>
							<div class="one field">
								<div class="field">
									<label class="custom-file-upload" for="cover" id="imageInput">Kuva</label>
									<input id="cover" name="cover" type="file" accept="image/*" required>
									<div id="imgPreviewContainer" class="hidden">
										<img id="imgPreview" src="" alt="">
									</div>
								</div>
								<div class="field">
									<div class="two fields">
										<div class="field">
											<div class="ui orange buttons hidden" id="aspectRatioButtons">
												<button type="button" class="ui button ratioBtn" ratio="1.66666" width="660" height="372">16:9</button>
												<button type="button" class="ui button ratioBtn" ratio="1.33333" width="495" height="372">4:3</button>
												<button type="button" class="ui button ratioBtn" ratio="1" width="372" height="372">1:1</button>
												<button type="button" class="ui button ratioBtn" ratio="0.66666" width="247" height="372">2:3</button>
												<button type="button" class="ui button ratioBtn" ratio="NaN" width="660" height="372">Free</button>
											</div>
										</div>
										<div id="imgBtns" class="field hidden">
											<div class="two fields">
												<div class="field">
													<button type="reset" class="ui yellow button" id="resetImage">Kumoa valinta</button>
												</div>
												<div  class="field">
													<button type="button" class="ui green button" id="submitImage">Lähetä kuva</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="field">
									<button class="ui green button" type="submit" id="submitBtn">Luo tuote</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>