<% layout("layout") -%>
<section>
	<div class="ui container">
		<div class="ui stackable inverted divided equal height stackable centered grid">
			<div class="sixteen wide center aligned segment headlines">
				<div class="ui page header">
						<h2>Rengashotelli</h2>
						<div class="ui horizontal divider">
							Kaikki renkaat vakuutetaan ja tarkistetaan
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui stackable inverted divided equal height stackable centered grid">
			<div class="ten wide left aligned segment">
				<div class="text container">
					<h3>Sinun rengashotelli</h3>
					<p>Voit jättää renkaasi säilytykseen rengashotelliin ja tehdä renkaidenvaihdosta näin entistä mukavampaa. Säilytyksen lisäksi rengashotellin palveluun sisältyy kuntotarkastus ja huuhtelupesu. Kerromme sinulle kun uusien renkaiden hankkiminen on ajankohtaista. Lisämaksusta voit tilata renkaidenvaihdon yhteyteen myös <strong><a href="/hinnasto?name=Tasapainotus">tasapainotuksen</a></strong>.</p>
				</div>
				<div class="text container">
					<h3>Rengashotellin ajanvaraus</h3>
					<p>Ajanvarauksen voit tehdä Klaukkalan renkaan verkkosivuilta osoitteesta <a href="/ajanvaraus">www.klaukkalanrengas.fi/ajanvaraus</a> tai puhelimitse: <strong><i class="fa fa-phone" aria-hidden="true"></i> 050 591 73 22</strong> ark. 8.00-17.00 välisenä aikana.</p>
				</div>
				<div class="text container">
					<h3>Oikeat olosuhteet renkaiden säilyttämiseen</h3>
					<p>Renkaiden varastointi oikeissa olosuhteissa hidastaa niiden ikääntymistä, tästä puhutaan paljon joka paikassa, johtajamme mielestä se on kuitenkin vain markkinointia!</p>
					<p>Renkaan elinikä harvoin ylittää sen suositeltua käyttö-ikää 5v.</p>
					<p>Rengashotellin suurin etu sinulle piileekin siinä, ettei sinun selkä ja polvet joudu rasitukseen, etkä joudu kolealla ilmalla ja tuulisella parkkipaikalla vaihtamaan renkaita.</p>
					<p>Antakaa se huoli meille ja vaihto onnistuu puolessa tunnissa, <strong><a href="/ajanvaraus">ajanvarauksella</a></strong>.</p>
				</div>
			</div>
		</div>
	</div>
</section>