<% layout('layout') -%>
<section>
	<div class="ui container">
		<div class="ui stackable inverted divided equal height stackable centered grid">
			<div class="sixteen wide center aligned segment headlines">
				<div class="ui page header">
						<h2>Renkaiden asennus, tasapainotus ja korjaus</h2>
						<div class="ui horizontal divider">
							Kaikki renkaat vakuutetaan ja tarkistetaan
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui stackable inverted divided equal height stackable centered grid">
			<div class="ten wide left aligned segment">
				<div class="text container">
					<h3>Renkaiden tasapainoitus</h3>
					<p>Renkaiden ollessa epätasapainossa, ne saattavat kulua epätasaisesti ja ennen aikojaan. Epätasapainosta voi aiheutua jousituksen kuluminen, tämän vuoksi renkaat tulisikin tasapainottaa niin uusina kuin ajettuinan jokaisen korjauksen jälkeen.</p>
            		<p>SUV ja leveiden renkaiden tasapainoitusta suositellaan useammin kuin normaalit renkaat ja myös silloin, kun alkaa tuntua tärinää.</p>
            		<p> Meillä renkaiden tasapainoitus onnistuu helposti <a href="/ajanvaraus">ajanvarauksella</a>.</p>
				</div>
			</div>
		</div>
	</div>
</section>